In [ ]:
Q1

In [ ]:
#for loop

It is used to repeat a specific block of code a known number of times.

In [ ]:
#example of for loop

l = [1,2,3,4,]
for i in l:
    print(i)

In [ ]:
#while loop

it is used to repeat a speicific block of code an unknown number of times, until a condition is true.

In [ ]:
#example of while loop

a = 1
while a <= 10 :
    print(a)
    a = a + 1

In [ ]:
Q2

In [8]:
#using for loop

num=range(1,11)
sum=0
product=1
for i in num:
    sum=sum+i
    product=product*i
    print('sum:',sum)
    print('product:',product)

In [ ]:
#using while loop

num=range(1,11)
sum=0
product=1
i=0
while i<len(num):
    sum=sum+num[i]
    product=product*num[i]
    i=i+1
    print('sum:',sum)
    print('product:',product)

In [ ]:
Q3

In [ ]:
ele_consumed=int(input('enter your electricity units'))
if ele_consumed<=100:
    print('your electricity bill is:',ele_consumed*4.5)
elif ele_consumed>=101 and ele_consumed<=200:
    print('your electricity bill is:',100*4.5+(ele_consumed-100)*6)
elif ele_consumed>=201 and ele_consumed<=300:
    print('your electricity bill is:',100*4.5+100*6+(ele_consumed-200)*10)
else :
    print('your electricity bill is:',100*4.5+100*6+100*10+(ele_consumed-300)*20)

In [ ]:
Q4

In [5]:
#using for loop

a=list(range(1,101))
b=[]
for i in a:
    cube=i**3
    if cube%5==0 or cube%4==0:
        b.append(cube)
print(b)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [ ]:
#using while loop

l=list(range(1,101))
l1=[]
i=0
while i<len(l):
    cube=l[i]**3
    if cube%5==0 or cube%4==0:
        l1.append(cube)
        i=i+1
print(l1)

In [ ]:
Q5

In [1]:
string='I want to become a data scientist'
v=('a','e','i','o','u')

In [ ]:
def vowel(i):
    return i in v
list(filter(vowel,string))